<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h3 style="font-size: 30px;"><strong>JC Company</strong></h3>
            <p>Siau Jia Chien</p>
        </div>
        <div class="footer-heading footer-2">
            <h3 style="font-size: 30px;"><strong>About Us</strong></h3>
            <p>Our mission is to harness advanced technologies to create exceptional web applications that drive success for our clients.</p>
            <p>Our team of skilled developers and strategists work collaboratively to build scalability, user-centric solutions that address the unique challenges of today's business landscape.</p>
        </div>
        <div class="footer-heading footer-3">
            <h3 style="font-size: 30px;"><strong>Contact Us</strong></h3>
            <p>Email: jsia0016&#64;student.monash.edu</p>
            <p>Student ID: 34087125</p>
            <p>Phone: +612233987</p>
            <p>Address: FIT 2095, FIT, Monash University</p>
        </div>
    </div>
</div>